#gallery-section {
  width: 100vw;
  //   border: solid red;
  height: 100vh;
  display: flex;
  //   justify-content: space-between;
  .aside {
    width: 400px;
    min-width: 390px;
    background-color: black;
    height: 100%;
    padding: 1rem;
  }
  .gallery {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 5rem;
    border: solid red;
    display: grid;
    align-items: center;
  }
  .gallery-title {
    display: flex;
    width: 90%;
    margin: 0 auto -5rem;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 70px;
    }
    img {
      width: 80px;
      height: auto;
      border-radius: 50%;
      margin-left: 5rem;
    }
    button {
      background-color: black;
      color: white;
      padding: 20px 15px;
      border-radius: 7px;
      border: 1px solid black;
      transition: 0.7s;
      font-size: 25px;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .gallery-image {
    width: 90%;
    // max-width: 1500px;
    border-radius: 15px;
    height: 80%;
    margin: 0 auto;
    aspect-ratio: 2/1;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-image: url(../images/home-keys.jpg);
  }

  .more-images {
    // border: solid red;
    width: 90%;
    // height: 200px;
    margin: -2rem auto 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    img {
      width: 250px;
      border-radius: 10px;
    }
  }
  .go-back {
    width: 15rem;
    background-color: red;
    color: white;
    padding: 20px 15px;
    border-radius: 7px;
    font-size: 25px;
    margin-top: 2rem;
    border: 1px solid red;
    transition: 0.7s;
    &:hover {
      background-color: white;
      color: red;
    }
  }
  .button-go-back {
    display: flex;
    float: right;

    align-items: center;
    justify-content: end;
    width: 90%;
    margin: 0 auto;
  }
}
