// * {
//     outline: 2px solid green;
// }

//Variable
$colors:(
    color01: #ffffff,
    color02: #d60e0a,
    color03: #000000,
    color04: #008000

);

// Function
@function getColor($key){
    @return map-get($colors, $key);
}

@mixin landscape {
    @media (max-width: 992.9px) {
        @content;
    }
}

@mixin landscape2 {
    @media (max-width: 904.9px) {
        @content;
    }
}

@mixin portrait {
    @media (max-width: 568.9px) {
        @content;
    }
}
@mixin medium {
    @media (max-width: 380.9px) {
        @content;
    }
}
@mixin small {
    @media (max-width: 350.9px) {
        @content;
    }
}
