#navlink-section {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;

  .nav--item:hover {
    color: red !important;
  }
  .navbar--toggler:focus {
    box-shadow: none !important;
  }
}
@media (max-width: 790px) {
  #navlink-section {
    font-size: 15px !important;
    .sign-in-up {
      width: 50%;
      margin: auto;
    }
  }
}
