#property_desc_sec {
  max-width: 1300px;
  margin: 0 auto;
  div {
    div {
      .property_desc_img {
        display: flex;
        @include landscape4 {
          flex-direction: column-reverse;
          justify-content: center;
        }
        div {
          .property_desc_img_one {
            margin-right: 1rem;
            img {
              margin-top: 2rem;
            }
          }
          .property_desc_img_two {
            p {
              margin-bottom: 0;
            }
            img {
              width: 100%;
              @include landscape4 {
                width: 100%;
                margin-left: 0;
              }
            }
            .property_details {
              display: flex;
              align-items: center;
              .property_details_text {
                font-size: 1.3rem;
                margin: 1rem 0 1.5rem 2rem;
                font-family: "Lato", sans-serif;
                font-weight: 600;
                margin-right: 1rem;
                @include landscape4 {
                  margin-left: 0;
                }
              }
              .property_details_line {
                width: 40%;
                height: 1px;
                background-color: #000;
                margin-bottom: 0.5rem;
              }
            }
            .property_type-text,
            .propery_status-text {
              font-size: 1rem;
              margin-left: 2rem;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
              @include landscape4 {
                margin-left: 0;
              }
            }
            .property_type,
            .propery_status {
              font-size: 1.3rem;
              margin: 0 0 1rem 2rem;
              font-family: "Roboto", sans-serif;
              font-weight: 400;
              @include landscape4 {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    div {
      div {
        position: relative;
        .property_name {
          font-size: 1.3rem;
          font-family: "Lato", sans-serif;
          font-weight: 600;
        }
        .property_desc_text {
          line-height: 1.8rem;
          font-family: "Lato", sans-serif;
          font-weight: 400;
        }
        .show_more_text {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
        }
        .show_more_text::after {
          content: " ";
          position: absolute;
          width: 95px;
          height: 2px;
          background-color: getColor(color02);
          left: 3rem;
          bottom: 0.9rem;
          @include landscape1 {
            left: 0.7rem;
          }
        }
      }
    }
  }
}
