#tour-section {
  background-color: #f5f5f5;
  padding-top: 2rem;
  padding-bottom: 8rem;
  .tour-main-heading {
    font-family: "Lato";
  }
  .tour-subsection {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
  }
  .redme {
    border: solid;
    border-color: red;
  }
  .div-container {
    width: fit-content;
  }
  //   .container {
  //     border: solid !important;
  //   }

  .arrows {
    font-size: 20px;
    border: 1px dotted #808080;
    border-radius: 50%;
    padding: 20px 22px;
    transition: background-color 1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .arrows:active {
    box-shadow: 0 0 10px 0 0 #808080;
  }
  .arrows:first-child {
    margin-right: 20px;
  }
  .arrows:hover {
    background-color: #808080;
    border: none;
    color: #fff;
  }
  .tour-item {
    display: grid;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;

    .tour-item-title {
      font-size: 20px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
    }
    .tour-item-image {
      height: 315px;
      width: fit-content;
      padding-bottom: 1rem;
    }
    .tour-item-icon {
      padding-right: 0.5rem;
      color: red;
    }
    .tour-item-price {
      margin-top: 1.5rem;
      font-size: 24px;
      font-weight: 600;
      p:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}
@media (max-width: 1399px) {
  #tour-section {
    .tour-item {
      .tour-item-title {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
      .tour-item-image {
        height: 275px;
      }
    }
  }
}
@media (max-width: 1199px) {
  #tour-section {
    .tour-item {
      .tour-item-title {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
      .tour-item-image {
        height: 230px;
      }
    }
  }
}
@media (max-width: 995px) {
  #tour-section {
    .tour-item {
      .tour-item-title {
        font-size: 14px;
      }
      p {
        font-size: 10px;
      }
      .tour-item-image {
        height: 170px;
      }
    }
  }
}
@media (max-width: 767px) {
  #tour-section {
    .arrows {
      display: none;
    }
    .tour-section-header {
      padding-left: 2rem;
    }
    .tour-subsection {
      display: grid;
      justify-content: space-around;
    }
    .tour-item {
      margin-bottom: 1.5rem;
      .tour-item-title {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
      .tour-item-image {
        height: 315px;
      }
    }
  }
}
@media (min-width: 768px) {
  #tour-section {
    .tour-section-more {
      display: none;
    }
  }
}
