.favorite-lead-text {
  font-size: 1.5rem;
  color: getColor(color02);
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.favorite-section {
  .favorite-sec {
    .favorite-item {
      border: 1px solid rgba(128, 128, 128, 0.199);
      border-radius: 0.5rem;
      box-shadow: 1px 3px 5px rgba(128, 128, 128, 0.199);
      img {
        width: 300px;
        height: 180px;
      }
      .favorite-item-title {
        margin-top: 0.5rem;
        margin-bottom: 0.4rem;
        font-family: "Inter", sans-serif;
        font-weight: 500;
      }
      div {
        div {
          .fa-solid {
            color: getColor(color02);
            margin-right: 0.2rem;
          }
          .fa-heart {
            color: getColor(color02);
          }
          p {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 0.9rem;
          }
        }
      }
      div {
        .property-price {
          font-family: "Inter", sans-serif;
          font-weight: 600;
        }
      }
      div {
        div {
          .delete_icon {
            width: 25px;
            height: 25px;
            background-color: getColor(color03);
            margin-left: 1rem;
            border-radius: 2rem;
            .fa-trash {
              color: getColor(color01);
              // margin-left: 0.4rem;
              // text-align: center;
            }
          }
        }
      }
    }
  }
}
